body {

}


.jumbotron {
   position: relative;
   padding-top: 40px;
   padding-right: 0px;
   padding-bottom: 40px;
   padding-left: 0px;
   color: #ffffff;
   text-align: center;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
   background-color: #c8dee9;
   background-repeat: repeat;
   background-attachment: scroll;
   background-position: 0% 0%;
   background-clip: border-box;
   background-origin: padding-box;
   background-size: auto auto;
   box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2) inset, 0px -3px 7px rgba(0, 0, 0, 0.2) inset;
}

.masthead {
   padding-top: 70px;
   padding-right: 0px;
   padding-bottom: 80px;
   padding-left: 0px;
   margin-bottom: 0px;
   color: #ffffff;
}


.jumbotron h1 {
   font-size: 60px;
   font-weight: bold;
   letter-spacing: -1px;
   line-height: 1;
}


.marketing {
   text-align: center;
}

.marketing h1 {
   margin-top: 60px;
   margin-right: 0px;
   margin-bottom: 10px;
   margin-left: 0px;
   font-size: 60px;
   font-weight: 200;
   line-height: 1;
   letter-spacing: -1px;
}

.marketing p {
   font-size: 16px;
   line-height: 1.5;
}

.marketing .marketing-byline {
   margin-bottom: 40px;
   font-size: 20px;
   font-weight: 300;
   line-height: 25px;
   color: #999999;
}


#footer {
   background-image:url(/assets/bg_cloudline-c65c790099bc07abecc93a87c90429ae.png);
}
