<div class="" style="float: right; position:absolute; top: 10px; left 10px">
<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="150"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
   (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div style="float:left">
<div class="fb-like" data-href="http://elevage-fees-de-celestia.fr/" data-send="true" data-width="100" data-show-faces="false" data-font="trebuchet ms"></div>
</div>
</div>


