<div class="jumbotron masthead">
      <%= render :partial => "shared/banners" %>
   <div class="container">
      <h1>Elevage des Fées de Célestia</h1>
      <p>Nous sommes un tout petit élevage de Dogue Allemand et de Cane Corso</p>
   </div>
</div>
